/* GIM Chalk Variables */

/* Transition
---------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23,1,0.32,1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23,1,0.32,1), opacity 300ms cubic-bezier(0.23,1,0.32,1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645,045,.355,1) !default;
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Colors
---------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-main: #c81432;
$--color-primary: #409EFF !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default;
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default;
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default;
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;

$--color-success: #B8E986 !default;
$--color-warning: #e6a23c !default;
$--color-danger: #FF6B71 !default;
$--color-info: #999 !default;
$--color-disabled: #eee !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: $--color-white !default;

/* Link
------------------------ */
$--link-color: $--color-primary-light-2 !default;
$--link-hover-color: $--color-primary !default;

/* Background
------------------------ */
$--background-color-base: #f5f7fa !default;

/* Border
------------------------ */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: #aaa !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;

/* Box-shadow
------------------------ */
$--box-shadow-base: 0 8px 8px -4px rgba(0,0,0,0.40);
//$--box-shadow-dark: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.12) !default;
//$--box-shadow-light: 0 2px 12px rgba(0,0,0,.1) !default;

/* Fill
------------------------ */
$--fill-base: $--color-white !default;

/* Font
------------------------ */
$--font-path: 'fonts' !default;
$--font-size-base: 16px !default;
$--font-size-small: 14px !default;
$--font-size-large: 20px !default;
$--font-size-extra-large: 24px !default;
$--font-size-extra-extra-large: 32px !default;
//$--font-size-extra-extra-extra-large: 18px !default;
$--font-color-disabled-base: #bbb !default;
$--font-weight-primary: 500 !default;
$--font-line-height-primary: 24px !default;

/* Size
 ----------------------- */
$--size-base: 14px !default;

/* z-index
------------------------ */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-poper: 2000 !default;

/* Disable base
------------------------ */
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--disabled-color-base: $--border-color-light !default;

/* Icon
------------------------ */
$--icon-color: #666 !default;
$--icon-color-base: $--color-info !default;

/* Checkbox
------------------------ */

/* Radio
------------------------ */

/* Select
------------------------ */

/* Alert
------------------------ */

/* Message Box
------------------------ */

/* Message
------------------------ */

/* Notification
------------------------ */

/* Input

------------------------ */

/* Cascade 级联选择
------------------------ */

/* Group
------------------------ */

/* Tab
------------------------ */

/* Button
------------------------ */

/* cascade
------------------------ */

/* Switch
------------------------ */

/* Dialog
------------------------ */

/* Table
------------------------ */

/* Pagination
------------------------ */

/* Popover
------------------------ */

/* Tooltip
------------------------ */

/* Tag
------------------------ */

/* Tree
------------------------ */

/* Dropdown
------------------------ */

/* Badge 标记
------------------------ */

/* Card
------------------------ */

/* Slider
------------------------ */

/* Steps
------------------------ */

/* Menu
------------------------ */

/* Rate
------------------------ */

/* DatePicker
------------------------ */

/* Loading
------------------------ */

/* Scrollbar
------------------------ */

/* Carousel 走马灯
------------------------ */

/* Collapse 折叠面板
------------------------ */

/* Transfer
------------------------ */

/* Header
  ------------------------ */
$--header-padding: 0 20px !default;

/* Footer
------------------------ */
$--footer-padding: 0 20px !default;

/* Main
------------------------ */
$--main-padding: 20px !default;

/* Break-point
------------------------ */
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

/* Function
------------------------ */
@mixin flex($a:flex-start, $c:center) {
  display: flex;
  justify-content: $a;
  align-items: $c;
  flex-wrap: wrap;
}
@mixin ellipsis () {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin bg($url, $percentX: 100%, $percentY: 100%) {
  $path: $url;
  background: url(#{$path}) no-repeat;
  background-size: $percentX $percentY;
}
@mixin disableUserSelect() {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
@mixin btnScale($scale) {
  @include disableUserSelect();
  &:active{
    transform: scale($scale);
  }
}
@mixin scrollHide {
  &::-webkit-scrollbar{
    display:none;
  }
  &::-webkit-scrollbar-track{
    display:none;
  }
  &::-webkit-scrollbar-button {
    display:none;
  }
  &::-webkit-scrollbar-thumb{
    background-color:#ECD6C5;
  }
  &::-webkit-scrollbar-track-piece{
    display:none;
  }
  &::-webkit-scrollbar-corner{
    display:none;
  }
}

@mixin DefaultBtn($height) {
  box-sizing: border-box;
  border-radius: ($height / 2);
  position: relative;
  line-height: $height;
  &:after {
    position: absolute;
    right: ($height / 4);
    top: 2px;
    content: '';
    width: 4px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(-53deg);
  }
}

@mixin DefaultRedBtn($height) {
  background-color: #FF5E65;
  border-bottom: 5px #F74951 solid;
  @include DefaultBtn($height);
}

@mixin DefaultYellowBtn($height) {
  background-color: #FFC935;
  border-bottom: 5px #FFB600 solid;
  @include DefaultBtn($height);
}

@mixin DefaultGrayBtn($height) {
  background-color: #CBCBD6;
  border-bottom: 5px #BDBDC7 solid;
  @include DefaultBtn($height);
}

@mixin DefaultBlueBtn($height) {
  background-color: #6C8EF8;
  border-bottom: 5px #4065DB solid;
  @include DefaultBtn($height);
}

@mixin utils-scrollbar {
  &::-webkit-scrollbar{
    width: 9px;
    height: 10px;
    padding-top: 0;
  }
  &::-webkit-scrollbar-track{
    display:none;
  }
  &::-webkit-scrollbar-button {
    display:none;
  }
  &::-webkit-scrollbar-thumb{
    //background-color:#ECD6C5;
    border-radius:10px;
    height: 30px;
    width: 5px;
    border: none;
    background: #ddd;
  }
  &::-webkit-scrollbar-track-piece{
    display:none;
  }
  &::-webkit-scrollbar-corner{
    display:none;
  }
}
//
//$--breakpoints: (
//  'xs' : (max-width: $--sm),
//  'sm' : (min-width: $--sm),
//  'md' : (min-width: $--md),
//  'lg' : (min-width: $--lg),
//  'xl' : (min-width: $--xl)
//);
//
//$--breakpoints-spec: (
//  'xs-only' : (max-width: $--sm - 1),
//  'sm-and-up' : (min-width: $--sm),
//  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)",
//  'sm-and-down': (max-width: $--md - 1),
//  'md-and-up' : (min-width: $--md),
//  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)",
//  'md-and-down': (max-width: $--lg - 1),
//  'lg-and-up' : (min-width: $--lg),
//  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)",
//  'lg-and-down': (max-width: $--xl - 1),
//  'xl-only' : (min-width: $--xl),
//);

